Options -Indexes
DirectoryIndex index.php
RewriteEngine On
RewriteBase /administrativo/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ index.php?route=panel [QSA,L]
RewriteRule ^panel/?$ index.php?route=panel [QSA,L]
RewriteRule ^trazabilidad/?$ index.php?route=trazabilidad [QSA,L]
RewriteRule ^configuracion/?$ index.php?route=configuracion [QSA,L]
RewriteRule ^clientes/?$ index.php?route=clientes [QSA,L]
RewriteRule ^certificados-migrate/?$ index.php?route=certificados-migrate [QSA,L]
RewriteRule ^login/?$ index.php?route=login [QSA,L]
RewriteRule ^logout/?$ index.php?route=logout [QSA,L]
RewriteRule ^registro/([0-9]+)/?$ index.php?route=show&id=$1 [QSA,L]
RewriteRule ^archivo/([0-9]+)/descargar/?$ index.php?route=download-file&id=$1 [QSA,L]
